@import "lib-mixins.less";
@font-face {
	font-family: "openSans_bold";
	src: url("../assets/font/openSans-ExtraBold.ttf");
}
@font-face {
	font-family: "openSans";
	src: url("../assets/font/openSans-Regular.ttf");
}
